<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %} <!-- Add this line to load the static template tag -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <h2>Login</h2>
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    </div>
</body>
</html>
